@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-400: #F88783;
  --secondary-400: #014B92;
  --light-bg: #FBEFEF;
  --light-card: #FEFBFB;
  --light-login-bg: #FBF0F1;
}

@theme {
   --color-primary-400: var(--primary-400);
   --color-secondary-400: var(--secondary-400);
   --color-light-card: var(--light-card);
   --color-light-login-bg: var(--light-login-bg);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--light-bg);
  color: var(--foreground);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
